body {
    padding-top: 65px;
    padding-bottom: 40px;
}

svg {
    font-family: Arial, sans-serif;
}

path.outline-male {
    fill: none;
    stroke: #63788f;
    stroke-width: 2;
}

circle.outline-male {
    fill: #63788f;
    stroke: #63788f;
}

path.outline-female {
     fill: none;
     stroke: #8f6d8f;
     stroke-width: 2;
 }

circle.outline-female {
    fill: #8f6d8f;
    stroke: #8f6d8f;
}

.male {
    fill: #a6caf0;
    stroke: #a6caf0;
}

.female {
    fill: #cc9ccc;
    stroke: #cc9ccc;
}

line.axis {
    stroke-width: 1;
    stroke: lightgray;
}

line.tick {
    stroke-width: 1;
    stroke: lightgray;
}

.centerHeader {
    font-size: 14px;
    font-weight: bold;
    stroke: none;
    fill: gray;
}

.panelHeader {
    font-size: 20px;
    stroke: none;
    fill: gray;
}

.tickLabel {
    fill: gray;
    font-size: 14px;
    stroke: none;
}

#header {
    text-align: center;
}